.hero__icon-container{
    height: 64px;
    width: 64px;
    border-radius: 16px;
    border: 1px solid #E5EAF4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}