

.icon{
    height: 36px;
}

.megathone-icon{
    width: 38.75px;
    
}

.building-icon{
    width: 38.49px;    
}

.phone-icon{
    width: 24.05px;
}

.flower{
    margin-right: 8px;
}

.header__freehand-icon,
.footer__freehand-icon{
    height: 35px;
    width: 157px;
}

.footer__freehand-text{
   margin-bottom: 2px; 
}