@import "./variables";
@import "./mixins";
@import "./common";
@import "./header";
@import "./M_main";
@import "./footer";
@import "./hero__flex-container";
@import "./icons";
@import "_icon-container";
@import "./flex-container__child";
@import "./text-styling";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;



}